@mixin box {
    display: flex;
    justify-content: center;
}

@mixin div-config($w, $h) {
    width: $w;
    height: $h;
}

@mixin txt-config($ft-size, $ft-weight) {
    font-size: $ft-size;
    font-weight: $ft-weight;
}

// import '../../Style/componentes/.scss';

// @media screen and (max-width: 767px) {}
// @media screen and (min-width: 768px) and (max-width: 1023px) {}
// @media screen and (min-width: 1024px) {}


// @include mixins.box();
// @include mixins.div-config(w, h);
// @include mixins.txt-config(fs, fw);


// variaveis.$azul-escuro;
// variaveis.$azul;

// variaveis.$cinza-escuro;
// variaveis.$cinza-claro;

// variaveis.$cinza-box;
// variaveis.$cor-modal;
// variaveis.$cor-menu;

// variaveis.$preto;
// variaveis.$branco;

// background-color: #F7C2C2;