$font-oficial: Arial, Helvetica, sans-serif;

$azul-escuro: #033f7d;
$azul: #014aad;

$cinza-escuro: #8d8c8c;
$cinza-claro: #a6a6a6;

$cinza-box: #d9d9d9;
$cor-modal: #f6f5f5;
$cor-menu: #dfe1e4;

$preto: #000;
$branco: #fff;