@use '../variaveis.scss';
@use '../mixins.scss';

@media screen and (max-width: 767px) {
    #stFooter{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f8f8f8;
        text-align: center;
        border-top: 1px solid #ccc;

        background-color: variaveis.$azul-escuro;
        
    }

    #btnFooter {
        @include mixins.div-config(50%, 6rem);
        background-color: variaveis.$azul-escuro;
        @include mixins.txt-config(3rem, 1rem);
        
        border: none;
    }

    #iconFooter {
        color: variaveis.$branco;
    }
    #webFooter {
        display: none;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    #stFooter{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f8f8f8;
        text-align: center;
        border-top: 1px solid #ccc;

        background-color: variaveis.$azul-escuro;
        
    }

    #btnFooter {
        @include mixins.div-config(50%, 6rem);
        background-color: variaveis.$azul-escuro;
        @include mixins.txt-config(3rem, 1rem);
        
        border: none;
    }

    #iconFooter {
        color: variaveis.$branco;
    }
    #webFooter {
        display: none;
    }
}


@media screen and (min-width: 1024px) {
    #stFooter{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: variaveis.$azul-escuro;
        
    }

    #btnFooter {
        display: none;
    }

    #iconFooter {
        color: variaveis.$branco;
    }
    #webFooter {
        margin: .5rem;
        color: variaveis.$branco;
        @include mixins.txt-config(1rem, 1rem);
    }
}