@use '../variaveis.scss';
@use '../mixins.scss';

@media screen and (max-width: 767px) {
    #bdHome {
        @include mixins.box();
        align-items: center;
        flex-direction: column;
    }
    
    #btnHome {
        @include mixins.div-config(95%, 15rem);
        @include mixins.box();
        align-items: center;
        margin: 1vh;
        padding: 30px;


        @include mixins.txt-config(3rem, 600);

        background-color: variaveis.$cinza-box;
        color: variaveis.$cinza-claro;

        border: none;
        border-radius: 1rem
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #bdHome {
        @include mixins.box();
        align-items: center;
        flex-direction: column;
    }
    
    #btnHome {
        @include mixins.div-config(30rem, 20rem);
        @include mixins.box();
        align-items: center;
        margin: 1vh;
        padding: 30px;


        @include mixins.txt-config(3rem, 600);

        background-color: variaveis.$cinza-box;
        color: variaveis.$cinza-claro;

        border: none;
        border-radius: 1rem
    }
}